<section id="generatorList-section" class="fgta5-carousell" data-title="Daftar Program">
<%- include(`${modulename}/generatorList.html`) %>
</section>


<section id="generatorEdit-section" class="fgta5-carousell" data-title="View Program Design">
<%- include(`${modulename}/generatorEdit.html`) %>
</section>


<div id="DESIGNTEMPLATE" class="hidden">
<%- include(`${modulename}/generator-designtemplate.html`) %>
</div>
