<section id="groupHeaderList-section" class="fgta5-carousell" data-title="List Header">
<%- include(`${modulename}/groupHeaderList.html`) %>
</section>

<section id="groupHeaderEdit-section" class="fgta5-carousell" data-title="Edit Header">
<%- include(`${modulename}/groupHeaderEdit.html`) %>
</section>


