<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>fgta5</title>
</head>
<body>
	<h1>fgta5</h1>
	<p>Welcome to the fgta5 application!</p>
	<p>To get started, please visit the <a href="/docs">documentation</a>.</p>
	<p>For more information, check out the <a href=""></a>
</body>
</html>

