<section id="userHeaderList-section" class="fgta5-carousell" data-title="Daftar User">
<%- include(`${modulename}/userHeaderList.html`) %>
</section>


<section id="userHeaderEdit-section" class="fgta5-carousell" data-title="View User">
<%- include(`${modulename}/userHeaderEdit.html`) %>
</section>